extends layout

block content
  main.inner.cover(role='main')
    h1.cover-heading Ravi Bhatnagar Resume
    p.lead blah blah blah blah blah
    p.lead
      a.btn.btn-lg.btn-secondary(href="#") Download
